<turbo-stream action="replace" target="contact-form">
    <template>
        <div id="contact-form" class="mt-10">
            {{ include('public/contact/_form.html.twig') }}
        </div>
    </template>
</turbo-stream>
