{% extends 'public/base.html.twig' %}

{% block title %}{{ 'home.meta.title'|trans }}{% endblock %}
{% block description %}{{ 'home.meta.description'|trans }}{% endblock %}
{% block url %}{{ url('app_home') }}{% endblock %}

{# Fullscreen Three.js scene only: no header, no footer, no visible text #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <section class="relative flex flex-1 overflow-hidden bg-neutral-950">
        <twig:Section:ThreeBackground />

        <h1 class="sr-only">{{ 'home.hero.title'|trans }}</h1>
    </section>
{% endblock %}
