<div style="font-family: Helvetica, Arial, sans-serif; color: #171717; max-width: 560px;">
    <h1 style="font-size: 18px;">{{ 'contact.email.client.title'|trans({'%name%': contact_name}) }}</h1>
    <p>{{ 'contact.email.client.body'|trans }}</p>
    <p style="color: #737373;">{{ 'contact.email.client.signature'|trans }}</p>
</div>
